* {
    margin: 0;
    padding: 0;
}

nav {
    height: 80px;
    background-color: black;
    color: white;
    font-size: 2vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

nav ul {
    list-style: none;
}

.gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    position: relative;
    margin: 0 30px;
}

.box{
    border: 1px solid black;
    font-size: 7vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(248, 242, 242);
}

.br-0 {
    border-right: 0px;
}
.bl-0 {
    border-left: 0px;
}
.bt-0 {
    border-top: 0px;
}
.bb-0 {
    border-bottom: 0px;
}

#restart {
    background-color: blue;
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    margin: 0 30px;
    border-radius: 10px;
}

#restart:hover {
    background-color: white;
    color: blue;
    border: 2px solid blue;
    padding: 5px 15px;
    margin: 0 30px;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .gameContainer {
        flex-wrap: wrap;
    }
    .gameInfo {
        margin-top: 40px;
    }
    .gameInfo h1 {
        font-size: 1.5rem;
    }

    .container {
        display: grid;
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3,20vw);
    }
}
